body, html {
    margin: 0;
    position: relative;
}

/* Characters.js */

.character-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.character-image {
    height: 4rem;
    width: 5rem;

}

.character-name {
    padding: 0px;
}

.faded {
    opacity: .3;
}

/* Navbar.js */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    min-height: 140px;
    max-height: 140px;
    width: 100vw;
}

.nav-char-container {
    display: flex;
    
}

.nav-button-1 {

}

.nav-button-2 {

}

.game-title {

}

/* LevelCard.js */

.board-container {
    padding: 10px;
}

.board-image {
    height: 20rem;
    width: 40rem;
    border-radius: 10px;
}

.board-level {

}

/* Game.hs */

.board-display-container {
    width: 100vw;
}

.board-display {
    width: 100%;
}

/* Leaderboard.js */

.leaderboard-container {
    
}

.leaderboard-levels-grid {
    display: flex;
}

.level-name {

}

/* Card.js */

.card-container {

}

.leaderboard-card {
    height: 15rem;
    width: 25rem;
}

.leaderboard-card-name {

}

/* CharacterDropdown.js */

.character-dropdown-a {
    text-decoration: none;
    
}

.character-dropdown-div {
    display: flex;
    background-color: rgba(232, 235, 237, 0.7);
    padding: 10px;
    color: black;
    text-decoration: none;
    align-items: center;
    
    
}

.character-dropdown-img {
    height: 2rem;
    width: 2rem;
    padding: 5px;

}

.character-dropdown-container {
}

.character-dropdown-menu {
}


/* extra */

.absolute {
    position: absolute;

}

.hidden {
    display: none;

}